.button {
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}

.button.cancel {
  background-color: var(--color-cancel--1);
}

.button:hover {
  color: var(--color-light--2);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}